{% load i18n %}{% autoescape off %}
2	{% blocktranslate %}
      Этот email отправлен вам так как запрошен сброс пароля на сайте - {{ site_name }}.
    {% endblocktranslate %}
3	
4	{% translate "Для сброса пароля перейдите по ссылке ниже:" %}
5	{% block reset_link %}
6	{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
7	{% endblock %}
8	{% translate 'Ваш логин на сайте:' %} {{ user.get_username }}
9	
10	{% translate "Спасибо за использование нашего сайта!" %}
11	
12	{% blocktranslate %}С уважение команда {{ site_name }} {% endblocktranslate %}
13	
14	{% endautoescape %}
15	